body {
    padding: 0;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
}

.general {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.game-header {
    display: flex;
    flex-direction: column;
}

.title-image {
    padding-bottom: 50px;
}

#start-button {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
    /* background-color: #870007;
    color: #fff; */
    padding: 20px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
}

#restart-button {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
    /* background-color: #870007;
    color: #fff; */
    padding: 20px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;

}

#win-button {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
    /* background-color: #870007;
    color: #fff; */
    padding: 20px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
}

#game-win {
    background-color: lightgrey;
    position: absolute;
    width: 1100px;
    height: 700px;
}

#game-over {
    background-color: lightgrey;
    position: absolute;
    width: 1100px;
    height: 700px;
}

.hidden {
    display: none !important;
}